<section id="dashboard" class="features">
  <div class="container">

    <div class="col-lg-12 text-center">
      <div class="section-heading">
        <h2>
          <strong>WELCOME</strong></p>
          <i class="red">iBotStreamBot</i>
        </h2>
        <h2>To the iBot Dashboard</h2>
        <p class="text-muted">
          Thank you for joining the many others who have supported our bot - <a href="https://discord.gg/AQAY2FK"> Join Discord</a>
        </p>
        <hr></hr></p>
        Please if you have any comments, questions or feedback, then let us know!
      </div>
    </div>
  </div>


</section>