<!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a href="dash"><i class="fa fa-home"></i> Home </a></li>
                  <li><a href="chat"><i class="fa fa-edit"></i> Chat </a></li>
                </ul>
              </div>
              <div class="menu_section">
                <h3>CONNECTIONS</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-video-camera"></i> Streaming <span class="fa fa-chevron-down"></span></a>
                   
                  </li>
                  <li><a><i class="fa fa-users"></i> Social Media <span class="fa fa-chevron-down"></span></a>
                    
                  </li>
                  <li><a><i class="fa fa-sitemap"></i> Networking <span class="fa fa-chevron-down"></span></a>
                    
                  </li>                  
                  <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> My Page </a></li>
                </ul>
              </div>
              
              
            </div>
            <!-- /sidebar menu -->