<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="feature-item">
              <i class="icon-social-twitter text-primary"></i>
              <p class="text-muted"></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-item">
              <i class="icon-social-facebook text-primary"></i>
              <p class="text-muted"></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-item">
              <i class="icon-social-google text-primary"></i>
              <p class="text-muted"></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
