    <footer>
        <div class="container">
            <p>Website Developed By <a href="http://www.wsgmedia.co.uk">WSG Media</a> &copy; 2013 - 2017, World Series Gaming ltd. All Rights Reserved.</p>
            <ul class="list-inline">
                <li>
                    <a href="aboutus.html">About Us</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
                <li>
                    <a href="privacy.html">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
                 <li>
                    <a href="#">Discord Bot</a>
                </li>
                 <li>
                    <a href="#">Other Tools</a>
                </li>
            </ul>
        </div>
    </footer>
