<section id="contact" class="contact bg-primary">
        <div class="container">
            <h2>We <i class="fa fa-heart"></i> new friends!</h2>
            <ul class="list-inline list-social">
                                <li class="social-player-me">
                    <a href="#"><i class="fa fa-play-circle"></i></a>
                </li>
                <li class="social-twitter">
                    <a href="https://twitter.com/WSG_Media"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="#"><i class="https://www.facebook.com/worldseriesgaming/"><i class="fa fa-facebook"></i></i></a>
                </li>
                <li class="social-google-plus">
                    <a href="https://www.youtube.com/channel/UCvXj9gMuuhZkI0f2SUMwqqw"><i class="fa fa-youtube-play"></i></a>
                </li>
                 <li class="social-twitch">
                    <a href="#"><i class="fa fa-twitch"></i></a>
                </li>

            </ul>
        </div>
    </section>