    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="header-content">
                        <div class="header-content-inner">
                          <h1>
                            iBot is the NEW BOT on the block!</p>
                            Designed and Developed by Streamers.</p>
                            Created with streaming in mind.
                          </h1>
                            <a href="signup" class="btn btn-outline btn-xl page-scroll">Sign Up Now!</a>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </header>