<!DOCTYPE html>
<html lang=”en”>
<% include ../partials/head %>

    <body>
        <% include ../partials/nav %>

            <div id="container" style="width:1000px;height: 1000px;top:50px;left:0px;">
                <div id="elem" onmousedown="mydragg.startMoving(this,'container',event);" onmouseup="mydragg.stopMoving('container');" style="width: 400px; height: 250px; left: 136px; top: 200px;">

                    <div style="max-width:400px;max-height:250px;padding:10px">
                        <!-- <ul id="incomingChatMessages"></ul> -->
                    </div>

                </div>

                <div id="sendChat" onmousedown="mydragg.startMoving(this,'container',event);" onmouseup="mydragg.stopMoving('container');" style="width: 400px; height: 100px; left: 20px; top: 0px;">
                    <div style="max-width:400px;max-height:250px;padding:10px">
                        <!-- <span>Send Message: <input type="text" id="outgoingChatMessage"></span> -->

                    </div>

                </div>

                <div id="chatBoxWrapper" onmousedown="mydragg.startMoving(this,'container',event);" onmouseup="mydragg.stopMoving('container');" style="width:400px;height:300px; left: 100px; top: 100px;">
                    <div id="wrapper">
                        <div id="menu">
                            <p id="welcome"></p>
                            <!--  <p class="logout"><a id="exit" href="#">Exit Chat</a></p> -->
                            <div style="clear:both"></div>
                        </div>

                        <div id="chatbox">
                            <ul id="incomingChatMessages"></ul>
                            <!--  <div style="max-width:400px;max-height:250px;padding:10px">               
                                  
                                </div> -->
                        </div>


                        <span>Send Message: <input name="usermsg" type="text" id="outgoingChatMessage"></span>
                    </div>

                </div>





            </div>
            <% include ../partials/scripts %>
                <% include ../partials/indexscripts %>
    </body>




</html>

<!--   <div id='container'>
        <div id="elem" onmousedown='mydragg.startMoving(this,"container",event);' onmouseup='mydragg.stopMoving("container");' style="width: 200px;height: 100px;">
            <div style='width:100%;height:100%;padding:10px'>
                <select id=test>
					<option value=1>first
					<option value=2>second
				</select>
                <INPUT TYPE=text value="123">
            </div>
        </div>

        <div id="beamChat" onmousedown='mydragg.startMoving(this,"container",event);' onmouseup='mydragg.stopMoving("container");'
            style="width: 200px;height: 100px;">
            <div style='width:100%;height:100%;padding:10px'>
                Beam Incoming Chat:
                <ul id="incomingChatMessages"></ul>
                <br />
                <input type="text" id="outgoingChatMessage">
            </div>
        </div>

    </div> -->