<!DOCTYPE html>
<html>
<head>
	<title>iBot - Dashboard</title>
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/vendors/device-mockups/device-mockups.min.css">

	<!-- OTHERS -->
	<link rel="stylesheet" href="/vendors/nprogress/nprogress.css">
	<link rel="stylesheet" href="/vendors/iCheck/skins/flat/green.css">
	<link rel="stylesheet" href="/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
	<link rel="stylesheet" href="/vendors/jqvmap/dist/jqvmap.min.css">
	<link rel="stylesheet" href="/vendors/bootstrap-daterangepicker/daterangepicker.css">

	<!-- Theme CSS -->
	<link href="/css/new-age.css" rel="stylesheet" />
	<link rel="stylesheet" href="/build/css/custom.css">




</head>
  <body class="nav-md">
    <div class="container body">
      	<div class="main_container">
        	<div class="col-md-3 left_col">
          		<div class="left_col scroll-view">
            		<div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><i class="fa fa-heartbeat"></i> <span>iBot StreamBot</span></a>
            		</div>

            		<div class="clearfix"></div>
			<% include partials/dash/profile-qi.ejs %>
			<% include partials/dash/sidebar.ejs %>
			<% include partials/dash/menufooter.ejs %>
					</div>
				</div>
			<% include partials/dash/topnav.ejs %>
			<div class="right_col" role="main">

			<% include partials/dash/title.ejs %>

			<% include partials/dash/info.ejs %>
		 
			</div>
		</div>
	</div>

	<% include partials/js/defscripts %>


</body>
</html>