<!DOCTYPE html>
<html>
<head>
	<title>iBot - Streaming Solution</title>
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">

	<!-- Theme CSS -->
	<link href="/css/new-age.css" rel="stylesheet" />	

	


</head>
<body>
<% include partials/repet/header %>
<% include partials/home/info %>
 



<% include partials/js/defscripts %>
</body>
</html>